@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
} /*remover os espaços da body do navegador*/
p{
	text-align: justify;
	text-indent: 50px;
}
@font-face{
	font-family: 'IBMPlexSans-Regular';
	src: url("../_fonts/IBMPlexSans-Regular.ttf");
}
@font-face{
	font-family: 'IBMPlexSans-Bold';
	src: url("../_fonts/IBMPlexSans-Bold.ttf");
}
body{
	background-image: url("../_imagens/background-image.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
    background-size: cover;
    overflow: auto;
}
header{
	background: url("../_imagens/menu-image.jpg");
	width: 1306px;
	height: 110px;
	background-size: 100%;
	margin: 10px auto 0px auto;
	background-repeat: no-repeat;
	position: relative;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	bottom: 0;
	font-family: 'IBMPlexSans-Regular', sans-serif;
}
nav#menu h1{
	display: none;
}
nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 54px;
	left: 320px;
	color: #ffffff;
}
nav#menu li#menu{
	display: inline-block;
	padding: 15px;
	margin: 2px;
}
nav#menu li#menu:hover{
	background-color: #0C0B0D;
}
nav#menu a{
	color: #ffffff;
	text-decoration: none;
}
div#telefone a{
	margin: 15px 53px;
	position: absolute;
	color: #343235;
	font-size: 11pt;
}
div#telefone a:hover{
	color: #ffffff;
}
div#email a{
	margin: 15px 217px;
	position: absolute;
	color: #343235;
	font-size: 11pt;
}
div#email a:hover{
	color: #ffffff;
}
div#sparceiro a{
	margin: 15px 784px;
	position: absolute;
	color: #343235;
	font-size: 11pt;
	width: 90px;
}
div#sparceiro a:hover{
	color: #ffffff;
}
div#contato a{
	margin: 15px 895px;
	position: absolute;
	color: #343235;
	font-size: 11pt;
}
div#contato a:hover{
	color: #ffffff;
}
div#aplicativo a{
	color: #343235;
	position: absolute;
	margin: 10px 1045px;
	width: 205px;
	font-size: 16pt;
}
div#aplicativo a:hover{
	color: #ffffff;
}
img#login{
	width: 35px;
	margin-left: 1250px;
	margin-top: 63px;
}
img#logotipo{
	height: 58px;
	position: absolute;
	margin: 50px 17.5px;
}
section h1{
	font-family: 'IBMPlexSans-Bold', sans-serif;
	width: 500px;
	color: #ffffff;
	font-size: 42pt;
	margin: 40px 800px;
	text-align: right;
	border-right: 3px solid #ffffff;
	padding-right: 6px;
}
section h3.alignright{
	font-family: 'IBMPlexSans-Regular', sans-serif;
	width: 500px;
	color: #ffffff;
	font-size: 14pt;
	margin: -35px 800px;
	text-align: right;
	border-right: 3px solid #ffffff;
	padding-right: 6px;
}
section h3.alignjustify{
	color: #ffffff;
	margin: -35px 500px;
	width: 800px;
	font-size: 14pt;
	text-align: justify;
	border-right: 3px solid #ffffff;
	padding-right: 6px;
}
section ul{
	margin: 70px 940px;
	font-family: 'IBMPlexSans-Regular', sans-serif;
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	color: #ffffff;
	font-size: 16pt;
}
section li.senha{
	display: inline-block;
	width: 230px;
	padding: 18px;
	border: 2px solid #ffffff;
	text-align: center;
	background-color: rgba(34,32,35,0.7);
}
section li.senha:hover{
	background-color: #343235;
	border: 2px solid #ffffff;
	opacity: 1;
}
section a{
	color: #ffffff;
	text-decoration: none;
}
select#senha{
	position: absolute;
	margin: 50px 1130px;
	border: 1px solid #343235;
	padding: 5px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 15px;
}
div#parceiros:hover{
	color: #ffffff;
}
div#parceiros3{
	margin: -30px 1060px;
	background-image: linear-gradient(to bottom, #fbc002, #343235 50%);
	font-family: 'IBMPlexSans-Regular', sans-serif;
	color: #343235;
	text-align: center;
	border: 1px solid #ffffff;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	width: 240px;
	height: 370px;
	position: absolute;
	padding-top: 10px;
}
div#parceiros3:hover{
	color: #ffffff;
}
div#parceiros2{
	margin: -30px 815px;
	background-image: linear-gradient(to bottom, #fbc002, #343235 50%);
	font-family: 'IBMPlexSans-Regular', sans-serif;
	color: #343235;
	text-align: center;
	border: 1px solid #ffffff;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	width: 240px;
	height: 370px;
	position: absolute;
	padding-top: 10px;
}
div#parceiros2:hover{
	color: #ffffff;
}
div#parceiros1{
	margin: -30px 570px;
	background-image: linear-gradient(to bottom, #fbc002, #343235 50%);
	font-family: 'IBMPlexSans-Regular', sans-serif;
	color: #343235;
	text-align: center;
	border: 1px solid #ffffff;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	width: 240px;
	height: 370px;
	position: absolute;
	padding-top: 10px;
}
div#parceiros1:hover{
	color: #ffffff;
}
div#faleconosco{
	margin: -35px 800px;
	font-family: 'IBMPlexSans-Regular', sans-serif;
	position: absolute;
	display: block;
	color: #ffffff;
	font-size: 15pt;
}
div#faleconosco input.btn_submit{
	position:absolute;
	bottom: 1em;
	right:10px;
	background-color: #343235
	color: #ffffff;
}
input[type=text]{   
    width:300px;
   	border: 1px solid #343235;
	font-size: 12pt;
	padding-top: 5px;
	padding-bottom: 5px;
}